In [5]:
import os
import glob
cwd = os.getcwd()
print(cwd)

/Users/aidenjohnson/Library/Mobile Documents/com~apple~CloudDocs/Freelancer

In [33]:
path='/Users/aidenjohnson/Library/Mobile Documents/com~apple~CloudDocs/Freelancer'
os.chdir(path)
os.listdir()
for file in glob.glob("*.pdf"):
    file
x=str("'"+path+'/'+file+"'")
print(x)
y=str(x[:-4]+'txt'+"'")
print(y)

'/Users/aidenjohnson/Library/Mobile Documents/com~apple~CloudDocs/Freelancer/17651405_Pre-Reg-8-14-18-ex.pdf'
'/Users/aidenjohnson/Library/Mobile Documents/com~apple~CloudDocs/Freelancer/17651405_Pre-Reg-8-14-18-ex.txt'

In [37]:
#import pdf2txt
#pdf2txt x -o y
#ended up callin un terminal window instead

In [51]:
import pandas as pd
from io import StringIO
#df = pd.read_csv(StringIO('output1.txt'), skiprows=[0,1], header=None)

In [43]:
from __future__ import unicode_literals, print_function
import plac
import spacy
f = open("output1.txt","r")
TEXTS= f.read()
TEXTS

'21st Annual Western States CREF Conference â€“ Pre-Registration List (as of 8-14-18) \n\nJeff Aana \nSales Manager, Commercial Banking \nKeyPoint Credit Union \nSanta Clara, CA \n\nJames Abbee \nRegional Director \nGoldman Sachs \nDallas, TX \n\nKamron Aghevli \nVice President \nSunrise Mortgage & Investment \nCompany \nPasadena, CA \n \nPhil Alves \nAnalyst \nJohn Hancock Real Estate Finance \nBoston, MA \n\nRene Alvarez \nSenior Vice President \nWalker & Dunlop \nWalnut Creek, CA \n\nSteven Ames \nManaging Director \nUSAA Real Estate Company \nNewport Beach, CA \n\nCharles Adam \nVP, Sr. Commercial Loan Officer \nUnion Bank \nBrea, CA \n\nJack Alvarez \nSales Analyst \nHunt Real Estate Capital \nIrvine, CA \n\nDavid Anderson \nEVP/Regional Credit Head \nFresno First Bank \nTorrance, CA \n\nChristian Andersson \nManaging Director \nBarings \nNewport Beach, CA \n\nJoseph Andrada \nPrincipal \nOak Tree Commercial Mortgage \nOrinda, CA \n\nJordan Angel \nDirector \nHFF \nSan Francisco, CA \n\nJuan Aragon \nDirector - Deputy Chief Underwriter \nHunt Real Estate Capital \nIrvine, CA \n\nScott Armstrong \nSVP Director Specialty Deposits Group \nPacific Premier Bank \nIrvine, CA \n\nJason Aubrey \nPrincipal \nPlattPointe \nDenver, CO \n\nKen Austad \nVice President \nSilvergate Bank \nLa Jolla, CA \n\nDoug Austin \nSenior Vice President \nNorthMarq Capital, LLC \nSan Diego, CA \n\nJ.C. Avakian \nExecutive Director Client Manager \nChase Commercial Term Lending \nSan Francisco, CA \n\nAdam Baird \nLoan Originations Officer \nNew York Life \nSan Francisco, CA \n\nJason Baker \nManaging Director, Real Estate \nCapitalSource \nBeverly Hills, CA \n\nDan Baker \nSenior Vice President \nNorthMarq Capital, LLC \nSan Francisco, CA \n\nJean Baker \nManaging Director \nLoanCore Capital, LLC \nSan Francisco, CA \n\nTodd Barnett \nManaging Director \nWells Fargo Bank, NA \nIrvine, CA \n\nTroy Batt \nDirector \nYAM Capital \nScottsdale, AZ \n\nJeff Ballaine \nVice President \nHunt Real Estate Capital \nSeattle, WA \n\nCharlotte Barlow \nCommercial Loans Manager \nAcademy Mortgage Corporation \nDraper, UT \n\nFrederick Barrow \nRegional Director - Mountain Region \nMoney360 \nLadera Ranch, CA \n\nRob Batchelor \nDirector \nUnion Bank \nBrea, CA \n\nFabio Baum \nRE Investments \nArenaco \nNew York, NY \n\nAnthony Bax \nManaging Director \nCTL Capital \nNew York, NY \n\n\x0c'

In [116]:
type(TEXTS)
# Python code to convert string to list
def Convert(string):
    li = list(string.split(" \n\n" or "  \n \n"))
    return li
# Driver code    
cntxt=Convert(TEXTS)
s = pd.Series(cntxt[1:])
s.head()

0    Jeff Aana \nSales Manager, Commercial Banking ...
1    James Abbee \nRegional Director \nGoldman Sach...
2    Kamron Aghevli \nVice President \nSunrise Mort...
3    Rene Alvarez \nSenior Vice President \nWalker ...
4    Steven Ames \nManaging Director \nUSAA Real Es...
dtype: object

In [117]:
s1=s.str.split("\n", n=4)
print(s1.head())

0    [Jeff Aana , Sales Manager, Commercial Banking...
1    [James Abbee , Regional Director , Goldman Sac...
2    [Kamron Aghevli , Vice President , Sunrise Mor...
3    [Rene Alvarez , Senior Vice President , Walker...
4    [Steven Ames , Managing Director , USAA Real E...
dtype: object

In [118]:
df=pd.Series.to_frame(s1)
df.columns = ['A']
df.head()

                                                   A
0  [Jeff Aana , Sales Manager, Commercial Banking...
1  [James Abbee , Regional Director , Goldman Sac...
2  [Kamron Aghevli , Vice President , Sunrise Mor...
3  [Rene Alvarez , Senior Vice President , Walker...
4  [Steven Ames , Managing Director , USAA Real E...

In [119]:
df2['Names']=df['A'].str[0]
df2['Title']=df['A'].str[1]
df2['Company']=df['A'].str[2]
df2['City']=df['A'].str[3]
df2['ext']=df['A'].str[4]
df2.head()
df2.to_csv('output.csv', sep=',')

In [120]:
df3=pd.read_csv('output.csv')
df3.head()

,Unnamed: 0,0,Names,Title,Company,City,ext
0,0,NaN,Jeff Aana,"Sales Manager, Commercial Banking",KeyPoint Credit Union,"Santa Clara, CA",NaN
1,1,NaN,James Abbee,Regional Director,Goldman Sachs,"Dallas, TX",NaN
2,2,NaN,Kamron Aghevli,Vice President,Sunrise Mortgage & Investment,Company,"Pasadena, CA \n \nPhil Alves \nAnalyst \nJohn ..."
3,3,NaN,Rene Alvarez,Senior Vice President,Walker & Dunlop,"Walnut Creek, CA",NaN
4,4,NaN,Steven Ames,Managing Director,USAA Real Estate Company,"Newport Beach, CA",NaN

In [11]:
@plac.annotations(
    model=("Model to load (needs parser and NER)", "positional", None, str))
def main(model='en_core_web_sm'):
    nlp = spacy.load(model)
    print("Loaded model '%s'" % model)
    print("Processing %d texts" % len(TEXTS))

    for text in TEXTS:
        doc = nlp(text)
        relations = extract_currency_relations(doc)
        for r1, r2 in relations:
            print('{:<10}\t{}\t{}'.format(r1.text, r2.ent_type_, r2.text))


def extract_currency_relations(doc):
    # merge entities and noun chunks into one token
    spans = list(doc.ents) + list(doc.noun_chunks)
    for span in spans:
        span.merge()

    relations = []
    for money in filter(lambda w: w.ent_type_ == 'MONEY', doc):
        if money.dep_ in ('attr', 'dobj'):
            subject = [w for w in money.head.lefts if w.dep_ == 'nsubj']
            if subject:
                subject = subject[0]
                relations.append((subject, money))
        elif money.dep_ == 'pobj' and money.head.dep_ == 'prep':
            relations.append((money.head.head, money))
    return relations


if __name__ == '__main__':
    plac.call(main)

usage: ipykernel_launcher.py [-h] [model]
ipykernel_launcher.py: error: unrecognized arguments: -f

SystemExit: 2

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2889: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)